h1 { text-align: center; color:darkmagenta;
}
table {   
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}
.kovy{ border-style: solid;background-color: aquamarine;
}
.alkalickekovy{ border-style: solid;background-color:salmon
}
.alkalichzemin{ border-style: solid;background-color:goldenrod
}
.prechodovvekovy{  border-style: solid;background-color:plum
}
.polokovy{  border-style: solid;background-color:wheat
}
.nekovy{ border-style: solid;background-color:yellowgreen
}
.halogeny{ border-style: solid;background-color:blue
}
.vzacnepliny{ border-style: solid;background-color : yellow
}

.invis { empty-cells: hide;
}
